$fonts-path: '../fonts/';

@font-face {
  font-family: 'montserrat';
  src: url('#{$fonts-path}montserrat-regular-webfont.eot');
  src: url('#{$fonts-path}montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('#{$fonts-path}montserrat-regular-webfont.woff2') format('woff2'),
  url('#{$fonts-path}montserrat-regular-webfont.woff') format('woff'),
  url('#{$fonts-path}montserrat-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'montserrat';
  src: url('#{$fonts-path}montserrat-medium-webfont.eot');
  src: url('#{$fonts-path}montserrat-medium-webfont.eot?#iefix') format('embedded-opentype'),
  url('#{$fonts-path}montserrat-medium-webfont.woff2') format('woff2'),
  url('#{$fonts-path}montserrat-medium-webfont.woff') format('woff'),
  url('#{$fonts-path}montserrat-medium-webfont.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}